<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
    method: :delete,
    data: { confirm: 'Are you sure' } %>
    
</p>



<h2>Comments</h2>
<%= render @article.comments &>

<h2>Add a comment</h2>
<%= render 'comments/form' %>

<%= link_to 'Article_List', articles_path %>